
{% extends 'base.html' %}
{% load tags %}
{% block content %}
<style>

    .nav.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.sticky {
   
    height: 40px;
    background-color: #0493AA;
    position: fixed;
    margin-top: -40px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #064D59;
    z-index: 9998;
    color: #fff;
    text-align: right;
    padding-right: 10px;
}
.nav-link{
    color: white;
}

</style>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4" style="overflow-y: scroll;height: 600px;">
            <ul class="list-group" >
                
              
                {% for i in charts %}
    
                
                <li class="list-group-item {% if i.id|types == id_name|types %} active {% endif %}"><a href="/chart-list/?id={{i.id}}"  {% if i.id|types == id_name|types %} style="color: white;" {% endif %}>{{i}}</a></li>
                
                {% endfor %}
              </ul>
        </div>
        <div class="col-md-8" style="margin-top: 20px;">
            {% if single_chart %}
            {{single_chart|safe}}

            {% else %}
            <center>
                <h2>
                    please select the chart
                </h2>
            </center>
        
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}